{erl_opts, [debug_info]}.

{lfe_first_files, []}.

{eunit_compile_opts, [
   {src_dirs, ["test", "src"]}
  ]}.

{deps, [lfe]}.

{plugins, [rebar3_lfe_compile]}.

{project_plugins, [
   rebar3_lfe_version
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
   {test, [{deps, [ltest]}]}
  ]}.
